#dinerotitulo{
    position: absolute;
    top: 50px;
    left: 450px;
    background-color: rgba(93,31,31,255);
    text-align: center;
    border-radius: 25px;
    padding: 15px;
    width: 130px;
    height: 40px;
}

#dinerow{
    font-size: 20px;
    position: relative;
    top: -10px;
}

#volverinicio{
    position: absolute;
    top: 50px;
    right: 500px;
}

#saldo{
    position: absolute;
    top: 175px;
    left: 350px;
    background-color: rgba(93,31,31,255);
    text-align: center;
    border-radius: 25px;
    padding: 15px;
    width: 130px;
    height: 40px;
}

#mostrarsaldo{
    position: absolute;
    top: 275px;
    left: 350px;
    background-color: gray;
}

#ingresarnuevosingresos{
    position: absolute;
    top: 220px;
    right: 400px;
}

#boton1{
    width: 150px;
    height: 50px;
}

#boton2{
    width: 130px;
    height: 50px;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../imagenes/freedom.png);
    background-repeat: no-repeat;
    background-size: 100% 950%;
}
